<%- include('shared/includes/head', { pageTitle: 'My ToDo List' })  %>
</head>
<body>
    <%- include('shared/includes/header')  %>
    <main>
        <h2>
            Active ToDo
        </h2>
        <form action="/refresh-tasks" method="POST"><button class="btn btn-done">Refresh</button></form>
        <ul class="todo">
            <% for (const task of activeTask) { %>
            <li>
                <span id="todoname"><%= task.taskname %> - <%= task.nextappear %> times (<%= task.duration %> mins)</span> <form action="/task/<%= task.id %>" method="POST"><button class="btn btn-alt">Complete</button></form>
            </li>
            
            <% } %>
        </ul>

        <h2>
            Done Tasks
        </h2>
        <% for (const task of doneTask) { %>
        <ul>
            <li>
                <%= task.taskname %>(<%= task.duration %>) <button class="btn btn-done"><%= task.status %></button>
            </li>
        </ul>
        <% } %>

    </main>
    <%- include('shared/includes/footer')  %>